* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #F5FAFE;
}

.container {
    max-width: 1100px;
    margin: auto;
}

img {
    max-width: 100%;
} 

.invalid { 
    color: #EC1F46; 
    border-bottom: 1px solid #EC1F46;;
}
